body{
  font-family: Lato, sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #f9f9f9;
}
*,h1, h2, h3, h4, h5, h6, button, input, textarea, html{
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
}
strong{
  font-weight: 700;
}
.navigation-drawer{
  color: #fff;
  background: #3c4b5b;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.navigation{
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.navigation a{

    text-decoration: none;
}
.navigation a .md-text{
  font-size: 1.1rem;
  //color: rgba(0, 0, 0, 0.87);
  color: #fff;
  font-weight: 500;
}
.navigation a .md-icon{
  color: #fff;
  //color: rgba(0, 0, 0, 0.6);
}
.navigation-drawer header{
  border-bottom-color: transparent;
}
// .navigation .md-icon{
//   color: rgba(255,255,255,0.8);
// }
// .navigation .md-text{
//   color: $md-blue-grey-50;
// }
// .active-main > .md-list-item{
//   background-color: $md-blue-grey-900;
// }
.content{
  padding: 20px;
}
.content-no-padding{
  padding: 0px;
}
.content.content-tabs{
  padding-top: 70px;
}
.content-no-padding.content-tabs{
  padding-top: 50px;
}
/*toolbar
------------------------------------------------------------------------------*/
.toolbar{
  padding: 10px 20px;
  min-height: 50px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.1)
}
.toolbar > button{
  margin-right: 10px;
}
/*messages list
------------------------------------------------------------------------------*/
.message-list-item{
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.message-list-item.message-unread{
  background-color: #fff;
}
/*file list
------------------------------------------------------------------------------*/
.file-list .md-subheader{
  height: 40px;
  line-height: 40px;
}
/* ProgressBar
------------------------------------------------------------------------------*/
.md-card .progress-container{
  padding: 16px;
}
.progress-bar {
    position: relative;
    display: block;
    max-width: 100%;
    border: none;
    box-shadow: none;
    background: rgba(0,0,0,.1);
    padding: 0;
    border-radius: .28571429rem;
}
.progress-bar .bar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 0;
    min-width: 2em;
    background: #888;
    border-radius: .28571429rem;
    -webkit-transition: width .1s ease,background-color .1s ease;
    transition: width .1s ease,background-color .1s ease;
}
.indicating.progress-bar[data-percent^="1"] .bar, .indicating.progress-bar[data-percent^="2"] .bar {
    background-color: #D95C5C;
}
.indicating.progress-bar[data-percent^="3"] .bar{
    background-color: #EFBC72;
}
.indicating.progress-bar[data-percent^="4"] .bar, .indicating.progress-bar[data-percent^="5"] .bar{
    background-color: #E6BB48;
}
.indicating.progress-bar[data-percent^="6"] .bar{
    background-color: #DDC928;
}
.indicating.progress-bar[data-percent^="7"] .bar,.indicating.progress-bar[data-percent^="8"] .bar{
    background-color: #B4D95C;
}
.indicating.progress-bar[data-percent^="9"] .bar,.indicating.progress-bar[data-percent^="100"] .bar {
    background-color: #66DA81;
}
.progress-container .progress-title{
  color: rgba(0, 0, 0, 0.87);
  font-size: 21px;
}
.progress-container .progress-subtitle{
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}
/*breadcrubms
------------------------------------------------------------------------------*/
.breadcrumbs{
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.breadcrumbs > .crumb{
  display: flex;
}
.breadcrumbs > .crumb > .crumb-divider{
  padding: 10px 0px 5px;
}
.breadcrumbs > .crumb > .crumb-link{
  padding: 10px 10px 5px;
  line-height: 1.7;
  font-weight: 700;
}
.crumb-clickable{
  cursor: pointer;
}
.crumb-clickable:hover{
  color: $md-primary-color;
}
/*helpers
------------------------------------------------------------------------------*/
.no-shadow{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.clickable{
  cursor: pointer;
}
ul.list-nopadding{
  padding: 0px;
}
ul.clean-list,
ul.clean-list > li{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.clean-list > li{
  padding-bottom: 20px;
}
ul.list-white > li{
  background-color: #fff;
}
ul.list-white > li.md-subheader{
  background-color: rgba(0, 0, 0, 0.06);
}
ul.list-dividers > li{
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
ul.list-big > li > .md-list-tile{
  height: 60px;
}
ul.list-white .md-text{
  font-weight: 700;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-muted {
  color: rgba(0,0,0,0.5);
}
/*Lists
------------------------------------------------------------------------------*/
ul.list-horizontal{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
ul.list-horizontal > li{
  padding-right: 5px;
  padding-bottom: 5px;
}
/*Cards
------------------------------------------------------------------------------*/
.md-card.inactive{
  background-color: #f1f1f1;
}
.card-title{
  display: flex;
  justify-content: space-between;
}
.card-right{
  display: flex;
}
.card-section{
  padding: 0px 16px;
}
/*Labels
------------------------------------------------------------------------------*/
.label {
  display: inline;
  padding: 0.5em .8em .4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-default {
  background-color: $md-blue-grey-300;
}

.label-primary {
  background-color: $md-primary-color;
}

.label-success {
  background-color: $md-green-500;
}

.label-info {
  background-color: $md-light-blue-600;
}

.label-warning {
  background-color: $md-orange-800;
}

.label-danger {
  background-color: $md-red-800;
}
/*Message
------------------------------------------------------------------------------*/
.message{

}
.message .message-content{
  padding: 20px 0px;
}
/*Quill
------------------------------------------------------------------------------*/
.quill{
  margin-bottom: 20px;
}
.quill .ql-toolbar {
    background-color: #fff;
    border: 1px solid #D4D4D5;
    border-radius: .28571429rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin-bottom: 10px;
}
.quill .ql-container{
  background-color: #fff;
  min-height: 100px;
  border: 1px solid #D4D4D5;

  border-radius: .28571429rem;
}
.quill .ql-container .ql-editor{
  min-height: 100px;
}
/*Animations
------------------------------------------------------------------------------*/
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
