body{
  margin: 0px;
  padding: 0px;
  background-color: #f9f9f9;
}
.no-shadow{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.navigation,
.navigation .md-list  {
    background-color: $md-blue-grey-800;
}
.navigation a{
    text-decoration: none;
}
.navigation .md-text{
  color: $md-blue-grey-50;
}
.active-main > .md-list-item{
  background-color: $md-blue-grey-900;
}
