.md-text{
  color: $md-blue-grey-700;
}
.md-text--secondary{
  color: $md-blue-grey-400;
}
.md-toolbar--fixed{
  background-color: #fff;
  color: #404b55;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
  //border-bottom: 2px solid $md-secondary-color;
  // background-color: #2185D0;
  // color: #fff;
  // box-shadow: 0 1px 4px rgba(0,0,0,.45);
  // .md-title{
  //   color: #fff;
  // }
}
.md-toolbar--fixed.no-shadow{
  border-bottom: none;
  box-shadow: none;
}
.md-toolbar--action-right{
    display: flex;
}
.md-tab-label{
  color: $md-blue-grey-400
}
.md-tab-indicator{
  background: $blue;
}
nav header.md-divider-border{
border-color: transparent;
}
.md-paper--2{
  // box-shadow: 0 1px 4px rgba(0,0,0,.15);
}
.md-paper--1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.09);
    //box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5
}
.md-grid.md-row{
  padding-left: 0px;
  padding-right: 0px;
}
@media screen and (min-width: 1280px){
  .md-grid.md-row{
    margin-left: -8px;
    margin-right: -8px;
  }
}

.md-card{
  border-radius: .28571429rem;
  .md-card-title--primary{
    padding-top: 10px;
  }
}

.md-card-title--title-block{
  width: 100%;
}
.card-with-right{
  display: flex;
  .card-right{
    margin-left: auto;
    padding: 16px;
  }
}
.md-tile-content--left-icon{
  padding-left: 17px;
}
.md-tabs-fixed-container{
  left: auto;
  top: auto;
  z-index: 14;
}
.md-tabs.md-background--primary{
  background-color: #fff;
  color: #404b55;
  box-shadow: 0 1px 4px rgba(0,0,0,.15);
}
.md-tab--inactive{
      color: rgba(0, 0, 0, 0.6);
}
h3, .md-title, h6, .md-body-2{
  font-weight: 700;
}
.actions-row{
  width: 100%;
  padding: 10px 20px;
  background-color: $md-blue-grey-50;
  border-top: 1px solid $md-blue-grey-100;
  box-sizing: border-box;
}
.md-dialog--centered{
  // top: 49.9%;
  // left: 49.9%;
  // -webkit-transform: translate(-50.1%, -50.1%);
  // transform: translate(-50.1%, -50.1%);
}
.drawer-bottom{
    height: 200px;
    bottom: 0px;
    top: auto;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    transform: translate3d(0, 100vh, 0);
}
@media screen and (min-width: 1025px){
  .drawer-bottom{
      margin-left: 256px;
      padding-right: 256px;
  }
  // .md-snackbar{
  //   transform: translate3d(0, 0, 0);
  // }
}
.md-drawer--active.drawer-bottom{
    transform: translate3d(0, 0, 0);
}
.md-picker--inline{
    // top: 49.9%;
    //  left: 49.9%;
    // -webkit-transform: translate(-50.1%, -50.1%);
    // transform: translate(-50.1%, -50.1%);
}
button + button{
    margin-left: 10px;
}
.md-snackbar-container {
    z-index: 1000;
}
.md-media{
  img,iframe,svg{
    border: none;
  }
}
