
.md-paper--2{
  // box-shadow: 0 1px 4px rgba(0,0,0,.15);
}
.md-paper--1 {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 0 0 1px rgba(0, 0, 0, 0.06);
    // box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5
}
.md-list{
  // background-color: transparent;
}
.md-card{
  border-radius: .28571429rem;
}
.md-card-title--title-block{
  width: 100%;
}
.md-tile-content--left-icon{
  padding-left: 17px;
}
.md-tabs-fixed-container{
  left: auto;
  top: auto;
  z-index: 14;
}
